.vscode/settings.json
.\pretrained/*
.\venv/*
Word2Vec/pretrained/checkpoint
Word2Vec/pretrained/.DS_Store
Word2Vec/pretrained/w2v_pretrained.cpkt.data-00000-of-00001
Word2Vec/pretrained/w2v_pretrained.cpkt.index
Word2Vec/pretrained/w2v_pretrained.cpkt.meta
Word2Vec/text8.zip
Word2Vec/models/word2vec_cross_entropy.model
Word2Vec/models/word2vec_nce.model
DependencyParser/word2vec.model
Word2Vec/models/word2vec_nce.model
Word2Vec/models/word2vec_cross_entropy.model
Word2Vec/pretrained/w2v_pretrained.cpkt.index
Word2Vec/pretrained/w2v_pretrained.cpkt.data-00000-of-00001
Word2Vec/pretrained/w2v_pretrained.cpkt.meta
