.vscode/settings.json
.\pretrained/*
.\venv/*
Assignment1/pretrained/checkpoint
Assignment1/pretrained/.DS_Store
Assignment1/pretrained/w2v_pretrained.cpkt.data-00000-of-00001
Assignment1/pretrained/w2v_pretrained.cpkt.index
Assignment1/pretrained/w2v_pretrained.cpkt.meta
Assignment1/text8.zip
Assignment1/models/word2vec_cross_entropy.model
